.nav {
  --main-color: #D3D3D3;
  --background-color: #000000;
  --menu-bg-color: #000000;
  --height: 82px;
  --slider-width: 100%;
  --link-color: #ffffff;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  align-items: center;
  font-family: inherit;
  height: var(--height);

  & * {
    outline-width: 1px;
    outline-color: var(--main-color);
  }

  & > a:first-child {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--main-color);
    margin-right: 1em;
  }

  &--hidden {
    top: calc(var(--height) * -1);
  }

  &--animate {
    transition: top 200ms ease-in;

    &--hidden {
      @extend .nav--hidden;

      transition: top 300ms ease-out;
    }
  }
}

@media (max-width: 768px) {
  .nav,
  .nav--animate {
    justify-content: space-between;

    & > a:first-child {
      margin-right: 0;
    }
  }
}
