$headerHeight: 82px;

.header {
  height:$headerHeight;
  zoom: 1;
}

.header_logo {
  width: 250px;
  float: left;
  padding-top: 18px;
}

.logo {
  display: block;
  background-image: url('../../../../assets/images/logo.svg');
  background-repeat: no-repeat;
  width: 144px;
  height: 46px;
}

.header_menu {
  overflow: hidden;
  height:$headerHeight;
}

@media (max-width:768px){
  .logo {
    background-image: url('../../../../assets/images/logo_red.svg');
  }
}



