$headerHeight: 82px;

.header {
  height:$headerHeight;
  zoom: 1;
}

.header_logo {
  width: 250px;
  float: left;
  padding-top: 18px;
}

.logo {
  display: block;
  background-image: url('../../../../assets/images/logo.svg');
  background-repeat: no-repeat;
  width: 144px;
  height: 46px;
}

.header_menu {
  overflow: hidden;
  height:$headerHeight;
}

.button_group {
  padding: 6px 0 0;
  min-width: 240px;
}

.button_group .lg_button {
  width: 89px;
  border-radius: 3px;
  display: inline-block;
  background: #ffffff;
  border: 0 !important;
  padding: 9px 0 !important;
  margin: 0 1.2em !important;
  text-align: center;
  color: #000000 !important;
}

// Button
.button_group .primary {
  color: #ffffff !important;
  background-color: #BB0000 !important;
}

@media (max-width:768px){
  .logo {
    background-image: url('../../../../assets/images/logo_red.svg');
  }

  .button_group {
    padding: 0;
    width: 90%;
    min-width: 340px;
  }

  .button_group .lg_button {
    width: 30%;
    margin: 0 16px 0 0 !important;
  }
}



