
.recommend {
  padding: 32px 0;
}

.row {
  width: 100%;
  display: inline-block;
}

.row .col {
  float: left;
  width: 50%;
}

.row .col2 {
  float: left;
  width: 50%;
}

.card {
  margin: 6px 8px;
}

.img-responsive {
  max-width:100%;
  height:0;
  padding-bottom:70%;
  overflow:hidden;
}

.img-responsive img {
  object-fit: contain;
  width: 100%;
}

.w {
  padding-bottom:35%;
}


.img-responsive > img{
  width:100%;
}


@media (max-width:768px) {
  .row .col {
    float: left;
    width: 100%;
  }

  .row .col2 {
    float: left;
    width: 50%;
  }

  .card {
    margin: 0;
  }
}

